{% extends "emails/email_base.html" %}
{% block content %}

<h2 style="margin-top:0;">Event Reminder</h2>

<p>Hi {{ name }},</p>

<p>
  This is a reminder for <strong>{{ event.title }}</strong>  
  happening on <strong>{{ event.start|date:"F j, Y, g:i A" }}</strong>.
</p>

<p>
  <a href="{{ request.build_absolute_uri(event.get_absolute_url) }}"
     style="color:#1b7ced;">View Event</a>
  &nbsp;|&nbsp;
  <a href="{{ request.build_absolute_uri(event.get_ics_url) }}"
     style="color:#1b7ced;">Add to Calendar</a>
</p>

<p>See you soon!</p>

{% endblock %}
